body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #E0E0E0, #FFFFFF);
}


header {
  background-color: rgb(255, 255, 255);
  color: rgb(198, 172, 172);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
 
}

header h1 {
  margin: 0;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header nav ul li a:hover {
  color: #ccc;
}

main {
  width: 70%;
  height: 100%;
  margin: 20px auto;
  padding: 50px;
  margin-left: 10px;
  flex: 1 0 auto;
  margin-bottom: 60px; 
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  
  padding: 20px;
  width: 100%;
 
  height: 60px;
  position: fixed;
  bottom: 0;
  
}


.burger-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  font-size: 1.5em;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


.nav-menu li {
  margin: 0 10px;
}

.social-media {
  display: flex;
}


.social-media a {
  color: #fff;
  font-size: 2em;
  margin: 0 10px;
  transition: transform 0.2s ease-in-out;
  margin-top: -15px;
}

.social-media a:hover {
  transform: scale(1.2);
}

.social-media a:nth-child(1) {
  color: #3b5998; /* Facebook blue */
  
}

.social-media .fa-envelope {
  color: red;
}

.social-media .fa-phone {
  color: rgb(0, 228, 0);
 
  
}

.products-section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 80%;
  margin: 1%;
  text-align: center;
}

.product img {
  width: 100%;
}

.request-product-form {
  width: 80%;
  margin: 3% auto;
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 0.5em;
}

form input[type="text"], form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  }
  
  form input[type="submit"] {
  width: 100%;
  background-color: #02299f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  }
  
  form input[type="submit"]:hover {
  background-color: #45a049;
  }
  
  form .form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  }
  
  form label {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  }
  
  form textarea {
  min-height: 150px;
  }



.carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-slide {
  display: none;
}

.carousel-slide.active {
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.carousel-slide img {
  width: 100%; /* set the width to 100% to fill the slide container */
  height: auto; /* preserve the aspect ratio */
  max-width: 100%; /* this is to make sure the image doesn't exceed the container width */
  max-height: 100%; /* this is to make sure the image doesn't exceed the container height */
  object-fit: cover; /* scale the image to fit within the container */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 40px; /* 20px space between each product */
  
}

.image-container {
  background-color: inherit;
}

@media (max-width: 800px) {
  .burger-button {
    display: block;
  }

  .nav-menu {
    display: none; 
  }

  .nav-menu li {
    display: block;
    margin: 10px 0;
    text-align: center;

  }

  .nav-menu.show {
    /* style for burger menu */
    display: block;
    position: absolute;
    top: 160px;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
  }


}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  /* Add styles for other elements as needed */

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
   font-size: 13px;
    height: 60px;
    position: fixed;
    bottom: 0;
    

  }
  

  
}
@media screen and (max-width:768px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr); /* 2 columns for screens smaller than 768px*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    
    
  }
  
}


@media screen and (max-width:480px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 column for screens smaller than 480px*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

  }
 
}

